<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pokédex</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Pokédex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Jumbotron Header -->
    <header class="jumbotron  my-4">
        <h1 class="display-3" p style="text-align:center"><strong>Pokémon</strong></h1>
        <p class="lead" style="text-align:center"><em>I got Pokémon: Blue Version and a Teal Gameboy Color for 7th my birthday, and I was addicted. Thousands of cards, hundreds of games, and my love for Pokémon is as strong as ever. I still have my Pokémon: Blue Version tucked away in safe keeping along side my Gameboy Color and a stack of cards each in a case so they dont get damaged. Below you can see some of my favorite cards that I have had since I first got them in 5th Grade. I love Pokémon and when I found I had the skills to make my own programs the first thing I thought to do was create a Pokédex. I hope this makes you as happy as it did me while I built it.</em></p>
    </header>

    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/3.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Venasaur</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/2.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Charizard</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/8.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Blastoise</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/1.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Gyarados</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/4.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Dragonite</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/5.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Ninetails</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/7.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Gameboy Color & Pokémon: Blue Version</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="images/6.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">My Gym Badges</h4>
                </div>
            </div>
        </div>

    </div>

</body>