<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pokédex</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/heroic-features.css" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">Pokédex</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                            Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
            <h1 class="display-3 text-center"><strong>Pokédex</strong></h1>
        </header>

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Bulbasaur</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/002.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ivysaur</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/003.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Venusaur</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Charmander</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/005.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Charmeleon</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/006.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Charizard</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Squirtle</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/008.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Wartortle</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/009.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Blastoise</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/010.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Caterpie</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/011.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Metapod</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/012.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Butterfree</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/013.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Weedle</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/014.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Kakuna</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/015.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Beedrill</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/016.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Pidgey</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/017.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Pidgeotto</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/018.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Pidgeot</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/019.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Rattata</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/020.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Raticate</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/021.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Spearow</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/022.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Fearow</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/023.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ekans</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/024.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Arbok</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Pikachu</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/026.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Raichu</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/027.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sandshrew</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/028.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Sandslash</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/029.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nidoran</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/030.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nidorina</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/031.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nidoqueen</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/032.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nidoran</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/033.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nidorino</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/034.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Nidoking</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/035.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Clefairy</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/036.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Clefable</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/037.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Vulpix</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/038.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ninetales</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/039.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Jigglypuff</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/040.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Wigglytuff</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/041.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Zubat</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/042.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Golbat</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/043.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Oddish</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/044.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Gloom</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/045.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Vileplum</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/046.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Paras</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/047.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Parasect</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/048.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Venonat</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/049.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Venomoth</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/050.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Diglett</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/051.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Dugtrio</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/052.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Meowth</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/053.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Persian</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/054.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Psyduck</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/055.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Golduck</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/056.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Mankey</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/057.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Primeape</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/058.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Growlithe</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/059.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Arcanine</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/060.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Poliwag</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/061.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Poliwhirl</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/062.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Poliwrath</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/063.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Abra</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/064.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Kadabra</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/065.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Alakazam</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/066.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Machop</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/067.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Machoke</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/068.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Machamp</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/069.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Bellsprout</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/070.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Weepinbell</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/071.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Victreebel</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/072.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tentacool</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/073.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tentacruel</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/074.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Geodude</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/075.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Graveler</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/076.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Golem</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/077.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ponyta</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/078.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Rapidash</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/079.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Slowpoke</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/080.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Slowbro</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/081.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Magnemite</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/082.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Magneton</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/083.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Farfetch'd</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/084.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Doduo</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/085.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Dodrio</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/086.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Seel</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/087.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Dewgong</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/088.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Grimer</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/089.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Muk</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/090.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Shellder</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/091.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cloyster</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/092.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Gastly</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/093.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Haunter</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/094.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Gengar</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/095.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Onix</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/096.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Drowzee</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/097.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Hypno</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/098.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Krabby</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/099.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Kingler</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/100.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Voltorb</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/101.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Electrode</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/102.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Exeggcute</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/103.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Exeggutor</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/104.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Cubone</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/105.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Marowak</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/106.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Hitmonlee</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/107.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Hitmonchan</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/108.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Lickitung</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/109.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Koffing</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/110.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Weezing</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/111.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Rhyhorn</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/112.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Rhydon</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/113.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Chansey</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/114.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tangela</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/115.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Kangaskhan</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/116.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Horsea</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/117.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Seadra</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/118.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Goldeen</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/119.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Seaking</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/120.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Staryu</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/121.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Starmie</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/122.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Mr. Mime</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/123.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Scyther</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/124.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Jynx</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/125.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Electabuzz</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/126.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Magmar</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/127.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Pinsir</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/128.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Tauros</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/129.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Magikap</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/130.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Gyarados</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/131.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Lapras</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/132.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Ditto</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/133.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Eevee</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/134.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Vaporeon</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/135.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Jolteon</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/136.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Flareon</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/137.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Porygon</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/138.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Omanyte</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/139.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Omastar</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/140.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Kabuto</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/141.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Kabutops</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/142.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Aerodactyl</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/143.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Snorlax</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/144.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Articuno</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/145.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Zapdos</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/146.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Moltres</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/147.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Dratini</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/148.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Dragonair</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/149.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Dragonite</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/150.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Mewtwo</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/151.png" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Mew</h4>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Pokedex 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
